:root{
    --default-background: rgba(0,0,0,1);
    --default-btn: rgba(0,0,0,1);
    --background-base: #1ed760;
    --background-highlight: #1fdf64;
    --font-color: #1ed760;
 }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body{
    font-family: 'Montserrat', sans-serif;;
    font-size: 14px;
    background: var(--default-background);
}

/* Utility Classes */
.btn-primary{
    background-color: var(--background-base);
    color: black;
    padding: 15px 32px;
    border: none;
    border-radius: 30px;
    width: 100%;
    transition: all  300ms ease;
    font-size: 16px;
    font-weight: 600;
 }
 
 .btn-primary:hover{
    background: var(--background-highlight);
    cursor: pointer;
 }

 .btn-secondary{
    background-color: var(--default-btn);
    color: white;
    padding: 7px 35px 7px 31px;
    border: 1px solid rgba(255, 255, 255, 0.4);;
    border-radius: 500px;
    cursor: pointer;
    transition: all  300ms ease;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
 }
 
 .btn-secondary:hover{
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
 }

/* Navbar */
#navbar{
    display: flex;
    width: 100%;
    background-color: var(--default-background);
    height: 101px;
    align-items: center;
    padding-left: 2rem;
}

#navbar img{
    height: 32px;
    width: auto;
}

/* Form */
#form-container{
    height: 79vh;
    display: flex;
    width: 100%;
    justify-content: center;
    background: var(--default-background);
}

.form-content{
    width: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

/* Form content */
.form-content h1{
    font-weight: 700;
    font-size: 2.5rem;
}
.form-content .wrapper{
    display: flex;
    align-items: center;
    gap:10px;
    justify-content: space-between;
    margin: 12px 0;
}

.form-content .wrapper div hr{
    border-top: 1px solid rgba(122, 122, 122, 0.768);
    width: 140px;
}

.form-content .container-button{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-content hr{
    border:0;
    border-top: 1px solid rgba(115, 115, 115, 0.246);
    margin: 10px 0;
}

.form-content p u{
    cursor: pointer;
}

.form-content p u:hover{
    color: var(--font-color);
}

/* Form content form-group */
.form-content .form-group{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.form-content .form-group label{
    font-weight: 600;
}

.form-content .form-group input{
    padding: 6px 14px;
    background-color: var(--default-background);
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    min-width: 311px;
    height: 48px;
 
}

.form-content .form-group input[type=email]:hover{
    border: 1px solid var(--background-base);
}

.form-content .form-group p u{
    color: var(--font-color);
}


/* Footer */
#footer{
    display: flex;
    align-items: center;
    flex-direction:column;
    background-color: var(--default-background);
    color: white;
    padding: 24px 0;
    font-size: 11px;
    bottom: 0;
    margin-top: 20px;
  }
