
 /* ShowCase */
 #showcase{
    display: flex;
    height: 480px;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(2,0,36);
    box-sizing: border-box;
    background: linear-gradient(183deg, rgba(2,0,36,1) 0%, rgba(12,103,211,1) 0%, rgba(12,103,211,1) 0%, rgba(2,16,32,1) 33%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 86%);

}

 #showcase .showcase-container{
    height: 480px;
    width: 560px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;

 }

 #showcase .showcase-container .showcase-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 56px 32px;
    height: 100%;
    width: 560px;
    
 }


 #showcase .showcase-container .showcase-info .text-value{
    font-size: 24px;
 }


 #showcase .showcase-container .showcase-banner{
    height: 480px;
    width: auto;
    color: red;
 }

 #showcase .showcase-container .showcase-banner img{
    height: auto;
 }
 h1{
    font-size: 40px;
    font-weight: 700;
 }
 #showcase .showcase-container .showcase-info p{
    width: 308px;
    font-size: 11px;
    line-height: 16px;
 }


