@import "global.css";
@import "variables.css";
@import "utility.css";

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .container-premium{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 970px;
}

.container .container-premium h1{
    font-size: 40px;
}

.container .container-premium .items-premium {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .container-premium .items-premium .item{
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  space-between;
    gap:30px;
    text-align: center;
}


.container .container-premium .items-premium .img {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: rgba(221, 221, 221, 0.609);
}

.container .container-premium .items-premium .item img{
    height: 80px;
    width: 80xp;
}

.container .container-premium .items-premium .item .item-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.container .container-premium .items-premium .item .item-info .title{
  font-size: 21px;
  font-weight: bold; 
  line-height: 1.3em; 
}

.container .container-premium .items-premium .item .item-info .subtitle{
    font-size: 16px;
}

